body {
    font-family: Verdana, Arial;
    background-color: #222;
    padding: 0px;
    margin: 0px;
    border-top: 4px solid rgb(166, 227, 25);
    line-height: 1.4em;
}

.content {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(242, 242, 242);
    clear: both;
    margin-top: 80px;
}

.head h1 {
    color: rgb(103, 217, 240);
    //text-shadow: #FFF 1px 1px;
    margin-bottom: 80px;
}

.head {
    text-align: center;
}

h2 {
    color: rgb(252, 149, 30);
}

a {
    color: rgb(250, 37, 115);
}

.signup_button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 200px;
    display: block;
    font-size: 1.4em;
    text-align: center;
    background: #262626;
    border: 1px dashed #444; 
    text-decoration: none;
}

.signup_button:hover {
    background: #333;
}

input {
    display: block;
    margin-left: 50px;
    font-size: 1.4em;
}

label {
    color: rgb(196, 141, 255);
}

.submit {
    width: auto;
    margin-top: 20px;
}

form{
    width: 300px;
}

.topelem {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.topelem a {
    background-color: rgb(166, 227, 25);
    display: block;
    float: left;
    padding: 5px;
    color: rgb(242,242,242);f
    text-shadow: rgba(0,0,0, 0.2) 1px 1px;
    text-decoration: none;
}

#nojs {
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: rgb(242,242,242);
    position: absolute;
    top: 0px;
    text-align: center;
    padding: 20px;
}

.error {
    color: red;
}

#error {
    color: red;
    text-align: center;
}

.topelem .statuspy {
    font-size: 1.3em;
    color: #222;
    text-shadow: 0px 1px rgba(255,255,255,0.8);
}

.topelem .bar {
    float: right;
    color: #AAA;
    background: #333;
}

.topelem .bar:hover{
    background: #444;
    color: rgb(242,242,242);
}
